@page
@using Pets.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Pets</h1>

<p>
    <a asp-page="AddNewPet" class="btn btn-secondary">Add New Pet</a>
</p>

<div class="w-50">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Pet pet in Model.pets)
            {
                <tr>
                    <td>
                        <img src="/uploads/@pet.PhotoFileName" class="img-fluid" />
                    </td>
                    <td>
                        @pet.Name
                    </td>
                    <td>
                        @pet.Age
                    </td>
                    <td>
                        <a asp-page="Remove" asp-route-id="@pet.PetId">Remove</a>
                    </td>
                </tr>    
            }
        </tbody>
    </table>
</div>