@page
@using Pets.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Pets</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Pet pet in Model.pets)
        {
            <tr>
                <td>
                    @pet.Name
                </td>
            </tr>    
        }
    </tbody>
</table>