@page
@model Pets.Pages.UpdateModel
@{
}

<h1>Update Pet</h1>

<div class="w-25">
    <img src="/uploads/@Model.Pet.PhotoFileName" class="img-fluid" />
</div>

<div class="w-50">

    <!-- Add multipart/form-data to upload file(s) -->
    <form method="post" enctype="multipart/form-data">

        <!-- Inlcude ALL the properties of pet obeject -->
        <input asp-for="Pet.PetId" type="hidden" />
        <input asp-for="Pet.PhotoFileName" type="hidden" />


        <div class="mb-3">
            <label asp-for="Pet.Name" class="form-label"></label><br>
            <input asp-for="Pet.Name" class="form-control" />
            <span asp-validation-for="Pet.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Pet.Age"></label><br>
            <input asp-for="Pet.Age" class="form-control" />
            <span asp-validation-for="Pet.Age" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FileUpload" class="form-label"></label><br>
            <input asp-for="FileUpload" class="form-control" />
            <span asp-validation-for="FileUpload" class="text-danger"></span>
        </div>

        <p>
            <input type="submit" value="Submit" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;&nbsp;
            <a asp-page="Index" class="btn btn-secondary">Cancel</a>
        </p>
    </form>

</div>
